PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar not null default 'user', "phone" varchar, "occupation" varchar, "address" text, "avatar" varchar, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'Jesica Rahma Arifin','rahmaarifinjesikametania@gmail.com',NULL,'$2y$12$1wnEE..QfQLw3lASFj6US.lZTQy5wtiD4SVrvU7ZgFHzXiB3jxQq2','admin','+62 812 3456 7890','CEO, Tech Innovations','Jl. Sudirman No. 123, Jakarta Selatan, 12190',NULL,NULL,'2026-05-20 11:33:06','2026-05-20 11:33:06');
INSERT INTO users VALUES(2,'Customer User','user@example.com',NULL,'$2y$12$Uvy9KltIldA3R1w5ELXtN.LJOZ/18h9ODKaMA1aXzPqtDyi9ATt1q','user','+62 877 6543 2100','Designer','Jl. Thamrin No. 45, Jakarta Pusat, 10110',NULL,NULL,'2026-05-20 11:33:06','2026-05-20 11:33:06');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" varchar not null, "queue" varchar not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "cars" ("id" integer primary key autoincrement not null, "name" varchar not null, "brand" varchar not null, "type" varchar not null, "transmission" varchar not null, "fuel_type" varchar not null, "price_per_day" numeric not null, "status" varchar not null default 'available', "image_url" varchar, "description" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO cars VALUES(1,'Porsche 911 Carrera','Porsche','Mewah','Otomatis','Bensin',340000,'rented','https://lh3.googleusercontent.com/aida-public/AB6AXuAmZJwX9HALduF9cKW_9r1FX0fb9wnG19XIslJbgp98yGwXW1QEwAiPNgv7tRYrEiK3o8EYdIKzxu3b0pbJWoCQMZ5oDNacSeIvBLhOYG_l5IX0cslvm2VjMgDx4vZMaTrJazcvSLxOYYb8N0goe5gpRPOIa049kcub7j21mA3_vGZCt0OgEWqtsvKLuqG2CsyQ6-qNQSiDYkGqvIil4QZK_949zEGXu9JTVLSoDmKmQnxRebLMI33fEhlPVwcNjvG71GMtgll5BV4','Porsche 911 Carrera legendaris dengan performa luar biasa dan kemewahan yang tak tertandingi.','2026-05-20 11:33:06','2026-05-20 11:35:50');
INSERT INTO cars VALUES(2,'BMW M4 Coupe','BMW','Sport','Semi-Auto','Bensin',500000,'available','https://lh3.googleusercontent.com/aida-public/AB6AXuDeNMiv2GiR-ZCxsD67uplkSsAtXCblMeE1tGyqQAjsbHE9_2La2ul5-6NHe8r5vmfFMH384w7DH1u4O4M6w6-J8B0FCxcRCyGF5_-giQVORbqGjRxrx05Yzetbley8GU_z6qxvux2-Fn0XvALFjykU8qbbQzxSSKHAi54WfgoKetXyWaRIWbjSq6tK9Ab1Lm8VLrb4sUI7GH9yZnI7J6JL7W2iNQRmX1N8I9LIOZXa7FfCQWSYOxE2PHfm41bHx_UZAoHWkO8ALbM','BMW M4 Coupe dengan akselerasi instan dan desain eksterior yang agresif.','2026-05-20 11:33:06','2026-05-20 11:33:06');
INSERT INTO cars VALUES(3,'Tesla Model S Plaid','Tesla','Sedan','Otomatis','Listrik',700000,'available','https://lh3.googleusercontent.com/aida-public/AB6AXuBIacGVrCXfEJFIOGDvCA8X7EEYHQICmfh8yt9Ee7_5NDQ1PPqgs87TOPtdZ3ApxgXWKhDI_tQgUGpmn4p71rbtMIsKz9jeNg0G5_gY9nDczMl8doEPvbR1Zkmjz-lZsuMYUGgJLVocKBM7MEmI2j_7wQhszzjd4PFgLKlFfXSujl-VBtMXYz8Xcupyf1cW15umF7tSffpbqZ266bpqFtOOu132bX3Ku11hcXfVEFZA8O9RCVL_1hq5_XHVRgozy676k1oq8_Myijc','Tesla Model S Plaid bertenaga listrik murni dengan akselerasi 0-100 km/j tercepat di dunia.','2026-05-20 11:33:06','2026-05-20 11:33:06');
CREATE TABLE IF NOT EXISTS "bookings" ("id" integer primary key autoincrement not null, "user_id" integer not null, "car_id" integer not null, "start_date" date not null, "end_date" date not null, "total_price" numeric not null, "status" varchar not null default 'pending', "notes" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("car_id") references "cars"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "payments" ("id" integer primary key autoincrement not null, "booking_id" integer not null, "payment_method" varchar not null, "amount" numeric not null, "status" varchar not null default 'pending', "proof_of_payment" varchar, "created_at" datetime, "updated_at" datetime, foreign key("booking_id") references "bookings"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" text not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
INSERT INTO personal_access_tokens VALUES(1,'App\Models\User',3,'auth_token','8f397378c60bd797518f531346bf510bea81bd1565f7f31a29d80c4e87c6d0d7','["*"]',NULL,NULL,'2026-05-20 11:35:49','2026-05-20 11:35:49');
INSERT INTO personal_access_tokens VALUES(2,'App\Models\User',3,'auth_token','6f9332a40dbeb0f8370f3813c5d92fdc86e5b04f76d17a044005bc9a130ff511','["*"]','2026-05-20 11:35:50',NULL,'2026-05-20 11:35:50','2026-05-20 11:35:50');
INSERT INTO personal_access_tokens VALUES(3,'App\Models\User',1,'auth_token','d6ff44b170ab26e8a14327ce5b63584bd6ba46bbae2d2726c9a95f4c33e13b5e','["*"]','2026-05-20 11:35:50',NULL,'2026-05-20 11:35:50','2026-05-20 11:35:50');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',7);
INSERT INTO sqlite_sequence VALUES('users',3);
INSERT INTO sqlite_sequence VALUES('cars',4);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE INDEX "failed_jobs_connection_queue_failed_at_index" on "failed_jobs" ("connection", "queue", "failed_at");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE INDEX "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at");
COMMIT;
